@charset "UTF-8";

/*a标签*/
a {
    text-decoration: none;
}

/*input*/
input[type=text]:focus {
    border: 1px solid #20a2e6;
}

input[type=number]:focus {
    border: 1px solid #20a2e6;
}

input[type=password]:focus {
    border: 1px solid #20a2e6;
}

input:focus {
    border: 0;
}

textarea:hover {
    border: 1px solid #20a2e6;
}

/*opacity*/
.opacity-0 {
    opacity: 0;
}

.opacity-02 {
    opacity: .2;
}

.opacity-04 {
    opacity: .4;
}

.opacity-06 {
    opacity: .6;
}

.opacity-08 {
    opacity: .8;
}

.opacity-1 {
    opacity: 1;
}

.left-0 {
    right: 0;
}

.bottom-0 {
    bottom: 0;
}

/*margin-top*/
.mar-top-neg02 {
    margin-top: -.2rem;
}

.mar-top-01 {
    margin-top: .1rem;
}

.mar-top-02 {
    margin-top: .2rem;
}

.mar-top-05 {
    margin-top: .5rem;
}

.mar-top-06 {
    margin-top: .6rem;
}

.mar-top-1 {
    margin-top: 1rem;
}

.mar-top-2 {
    margin-top: 2rem;
}

.mar-top-4 {
    margin-top: 4rem;
}

.mar-top-6 {
    margin-top: 6rem;
}

/*margin-bottom*/
.mar-bot-02 {
    margin-bottom: .2rem;
}

.mar-bot-04 {
    margin-bottom: .4rem;
}

.mar-bot-06 {
    margin-bottom: .6rem;
}

.mar-bot-1 {
    margin-bottom: 1rem;
}

.mar-bot-2 {
    margin-bottom: 2rem;
}

.mar-bot-4 {
    margin-bottom: 4rem;
}

.mar-bot-6 {
    margin-bottom: 6rem;
}

/*margin-left*/
.mar-left-02 {
    margin-left: .2rem;
}

.mar-left-04 {
    margin-left: .4rem;
}

.mar-left-2per {
    margin-left: 2%;
}

/*margin-right*/
.mar-right-01 {
    margin-right: .1rem;
}

.mar-right-02 {
    margin-right: .2rem;
}

.mar-right-04 {
    margin-right: .4rem;
}

.mar-right-06 {
    margin-right: .6rem;
}

.mar-right-08 {
    margin-right: .8rem;
}

.mar-right-1 {
    margin-right: 1rem;
}

/*padding-top*/
.pad-top-05 {
    padding-top: .5rem;
}

.pad-top-08 {
    padding-top: .8rem;
}

.pad-top-1 {
    padding-top: 1rem;
}

.pad-top-2 {
    padding-top: 2rem;
}

/*padding-bottom*/
.pad-bot-04 {
    padding-bottom: .4rem;
}

.pad-bot-08 {
    padding-bottom: .8rem;
}

.pad-bot-1 {
    padding-bottom: 1rem;
}

.pad-bot-2 {
    padding-bottom: 2rem;
}

.pad-bot-4 {
    padding-bottom: 4rem;
}

.pad-bot-6 {
    padding-bottom: 6rem;
}

.pad-bot-8 {
    padding-bottom: 8rem;
}

/*padding-left*/
.pad-left-02 {
    padding-left: 0.2rem;
}

.pad-left-1 {
    padding-left: 1rem;
}

/*padding-right*/
.pad-right-01 {
    padding-right: .1rem;
}

.pad-right-1 {
    padding-right: 1rem;
}

.pad-right-02 {
    padding-right: .2rem;
}

.pad-right-04 {
    padding-right: .4rem;
}

/*width*/
.wid-10 {
    width: 10%;
}

.wid-16 {
    width: 16%;
}

.wid-30 {
    width: 30%;
}

.wid-40 {
    width: 40%;
}

.wid-50 {
    width: 50%;
}

.wid-60 {
    width: 60%;
}

.wid-84 {
    width: 84%;
}

.wid-98 {
    width: 98%;
}

.wid-100 {
    width: 100%;
}

/*height*/
.hei-2rem {
    height: 2rem;
}

.hei-2dot4 {
    height: 2.4rem;
}

.hei-2dot8 {
    height: 2.8rem;
}

.hei-3-rem {
    height: 3rem;
}

.hei-6-rem {
    height: 6rem;
}

.hei-8-rem {
    height: 8rem;
}

.hei-10-rem {
    height: 10rem;
}

.hei-16-rem {
    height: 16rem;
}

.hei-26-rem {
    height: 26rem;
}

.hei-40-rem {
    height: 40rem;
}

/*line-height*/
.lin-hei-2 {
    line-height: 2rem;
}

.lin-hei-4 {
    line-height: 4rem;
}

.lin-hei-6 {
    line-height: 6rem;
}

.lin-hei-2dot2 {
    line-height: 2.2rem;
}

.lin-hei-2dot4 {
    line-height: 2.4rem;
}

/*cursor*/
.cur-point {
    cursor: pointer;
}

.cur-default {
    cursor: default;
}

/*overflow*/
.over-hid {
    overflow: hidden;
}

.over-auto {
    overflow: auto;
}

.over-x-hid {
    overflow-x: hidden;
}

.over-y-auto {
    overflow-y: auto;
}

/*float*/
.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

/*position*/
.pos-absolute {
    position: absolute;
}

.pos-relative {
    position: relative;
}

.pos-fixed {
    position: fixed;
}

/*display*/
.dis-none {
    display: none;
}

.dis-inl-block {
    display: inline-block;
}

.dis-block {
    display: block;
}

.dis-flex {
    display: flex;
}

/*flex-direction*/
.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

/*justify-content: 在flex布局中 主轴居中【伸缩容器的justify-content属性用于调整主轴上伸缩项目的位置】 */
.justify-cen {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start
}

/*主轴起点对齐*/
.justify-end {
    justify-content: flex-end;
}

/*主轴终点对齐*/
/*align-items: 调整伸缩项目在侧轴上的定位方式*/
.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

/*flex-end: 根据侧轴的终点对齐*/
.align-cen {
    align-items: center;
}

.align-str {
    align-items: stretch;
}

/*stretch: 它会将伸缩项目从侧轴起点拉伸到侧轴终点*/
.align-bas {
    align-items: baseline;
}

/*baseline: 则是让伸缩项目与它们的基线对齐*/

.flex-wrap {
    flex-wrap: wrap;
}

/*flex-grow: 不同比例*/
.flex-1 {
    flex: 1 1 0%;
}

.flex-2 {
    flex: 2 2 0%;
}

.flex-3 {
    flex: 3 3 0%;
}

.flex-4 {
    flex: 4 4 0%;
}

.flex-5 {
    flex: 5 5 0%;
}

.flex-6 {
    flex: 6 6 0%;
}

.flex-7 {
    flex: 7 7 0%;
}

.flex-8 {
    flex: 8 8 0%;
}

/*vertical-align*/
.vertical-top {
    vertical-align: top;
}

.vertical-mid {
    vertical-align: middle;
}

/*margin*/
.mar-auto {
    margin: auto;
}

/*间歇的mar-auto主要用在flex布局中*/
.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

/*text-align*/
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/*font-size*/
.font-12 {
    font-size: 12px;
}

.font-13 {
    font-size: 13px;
}

.font-14 {
    font-size: 14px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-20 {
    font-size: 20px;
}

.font-22 {
    font-size: 22px;
}

.font-24 {
    font-size: 24px;
}

.font-28 {
    font-size: 28px;
}

.font-bold {
    font-weight: bold;
}

/*font-color*/
.white-font {
    color: #fff;
}

.blue-font {
    color: #26abf4;
}

.grey-font {
    color: #757575;
}

/*letter-spacing*/
.let-spa-1px {
    letter-spacing: 1px;
}

.let-spa-2px {
    letter-spacing: 2px;
}

/*text-indent*/
.text-ind-05 {
    text-indent: .5rem;
}

.text-ind-1rem {
    text-indent: 1rem;
}

.text-ind-2rem {
    text-indent: 2rem;
}

.text-ind-4rem {
    text-indent: 4rem;
}

/*border-radius*/
.bor-rad-4px {
    border-radius: 4px;
}

/*background-color*/
.white-bg {
    background-color: #fff;
}

.light-coral-bg {
    background-color: lightcoral
}

.coral-bg {
    background: coral;
}

.light-green-bg {
    background: #c0e8d0;
}

.grey-bg {
    background: lightgrey;
}

.green-bg {
    background: darkseagreen;
}

.light-blue-bg {
    background: lightskyblue;
}

.blue-bg {
    background: #21a4eb
}

