html, body {
    height: 100%;
}

/*这里的高度100%是为了达到二级页面页脚始终处于最低于的排版所需要*/

/*a标签*/
a {
    text-decoration: none;
    color: #323232;
}

/*a:hover{color:#20a2e6;}*/
a span {
    text-decoration: none;
}

/*a标签*/
body {
    background: #f0f2f6;
    color: #323232;
    min-width: 1200px;
    overflow: auto;
}

input[type=text]:focus {
    border: 1px solid #20a2e6;
}

input[type=password]:focus {
    border: 1px solid #20a2e6;
}

.textInd20 input:focus {
    border: 0;
}

textarea:hover {
    border: 1px solid #20a2e6;
}

.yuan, .yuan2 {
    font-weight: bold;
}

input[type="checkbox"] {
}

.right0 {
    right: 0;
}

.cursorPoint {
    cursor: pointer;
}

.cursorDefault {
    cursor: default;
}

.overflowHid {
    overflow: hidden;
}

.overflowAuto {
    overflow: auto;
}

.posFixed {
    position: fixed;
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.zIndex-100 {
    z-index: -100
}

.zIndex-10 {
    z-index: -10
}

.zIndex-1 {
    z-index: -1
}

.zIndex1 {
    z-index: 1
}

.zIndex100 {
    z-index: 100
}

.zIndex101 {
    z-index: 101
}

.zIndex102 {
    z-index: 102
}

.zIndex999 {
    z-index: 999
}

.posAbsolute {
    position: absolute;
}

.posRelative {
    position: relative;
}

.posFixed {
    position: fixed;
}

.displayNone {
    display: none;
}

.disInlBlock {
    display: inline-block;
}

.displayBlock {
    display: block;
}

.varTop {
    vertical-align: top;
}

.verMid {
    vertical-align: middle;
}

/*margin-top*/
.marginAuto {
    margin-left: auto;
    margin-right: auto;
}

.marTopNeg4 {
    margin-top: -4px;
}

.removeMarTop {
    margin-top: 0 !important;
}

.marTop1 {
    margin-top: 1px;
}

.marTop2 {
    margin-top: 2px;
}

.marTop3 {
    margin-top: 3px;
}

.marTop4 {
    margin-top: 4px;
}

.marTop5 {
    margin-top: 5px;
}

.marTop6 {
    margin-top: 6px;
}

.marTop7 {
    margin-top: 7px;
}

.marTop8 {
    margin-top: 8px;
}

.marTop9 {
    margin-top: 9px;
}

.marTop10 {
    margin-top: 10px;
}

.marTop12 {
    margin-top: 12px;
}

.marTop14 {
    margin-top: 14px;
}

.marTop13 {
    margin-top: 13px;
}

.marTop15 {
    margin-top: 15px;
}

.marTop16 {
    margin-top: 16px;
}

.marTop17 {
    margin-top: 17px;
}

.marTop18 {
    margin-top: 18px;
}

.marTop20 {
    margin-top: 20px;
}

.marTop22 {
    margin-top: 20px;
}

.marTop23 {
    margin-top: 23px;
}

.marTop24 {
    margin-top: 24px;
}

.marTop25 {
    margin-top: 25px;
}

.marTop26 {
    margin-top: 26px;
}

.marTop27 {
    margin-top: 27px;
}

.marTop30 {
    margin-top: 30px;
}

.marTop32 {
    margin-top: 32px;
}

.marTop34 {
    margin-top: 34px;
}

.marTop36 {
    margin-top: 36px;
}

.marTop40 {
    margin-top: 40px;
}

.marTop42 {
    margin-top: 42px;
}

.marTop43 {
    margin-top: 43px;
}

.marTop44 {
    margin-top: 44px;
}

.marTop45 {
    margin-top: 45px;
}

.marTop46 {
    margin-top: 46px;
}

.marTop50 {
    margin-top: 50px;
}

.marTop52 {
    margin-top: 52px;
}

.marTop56 {
    margin-top: 56px;
}

.marTop60 {
    margin-top: 60px;
}

.marTop62 {
    margin-top: 62px;
}

.marTop70 {
    margin-top: 70px;
}

.marTop73 {
    margin-top: 73px;
}

.marTop80 {
    margin-top: 80px;
}

.marTop85 {
    margin-top: 85px;
}

.marTop88 {
    margin-top: 88px;
}

.marTop90 {
    margin-top: 90px;
}

.marTop95 {
    margin-top: 95px;
}

.marTop100 {
    margin-top: 100px;
}

.marTop105 {
    margin-top: 105px;
}

.marTop110 {
    margin-top: 110px;
}

.marTop159 {
    margin-top: 159px;
}

/*margin-top*/

/*margin-bottom*/
.marBot3 {
    margin-bottom: 3px;
}

.marBot2 {
    margin-bottom: 2px;
}

.marBot5 {
    margin-bottom: 5px;
}

.marBot6 {
    margin-bottom: 6px;
}

.marBot7 {
    margin-bottom: 7px;
}

.marBot10 {
    margin-bottom: 10px;
}

.marBot12 {
    margin-bottom: 12px;
}

.marBot14 {
    margin-bottom: 14px;
}

.marBot15 {
    margin-bottom: 15px;
}

.marBot20 {
    margin-bottom: 20px;
}

.marBot24 {
    margin-bottom: 24px;
}

.marBot25 {
    margin-bottom: 25px;
}

.marBot26 {
    margin-bottom: 26px;
}

.marBot28 {
    margin-bottom: 28px;
}

.marBot30 {
    margin-bottom: 30px;
}

.marBot36 {
    margin-bottom: 36px;
}

.marBot38 {
    margin-bottom: 38px;
}

.marBot40 {
    margin-bottom: 40px;
}

.marBot45 {
    margin-bottom: 45px;
}

.marBot50 {
    margin-bottom: 50px;
}

.marBot56 {
    margin-bottom: 56px;
}

.marBot58 {
    margin-bottom: 58px;
}

.marBot60 {
    margin-bottom: 60px;
}

.marBot90 {
    margin-bottom: 90px;
}

.marBot110 {
    margin-bottom: 110px;
}

.marBot115 {
    margin-bottom: 115px;
}

/*margin-bottom*/

/*margin-left*/
.marLeft-1 {
    margin-left: -1px;
}

.marLeft1 {
    margin-left: 1px;
}

.marLeft2 {
    margin-left: 2px;
}

.marLeft3 {
    margin-left: 3px;
}

.marLeft4 {
    margin-left: 4px;
}

.marLeft5 {
    margin-left: 5px;
}

.marLeft6 {
    margin-left: 6px;
}

.marLeft7 {
    margin-left: 7px;
}

.marLeft8 {
    margin-left: 8px;
}

.marLeft10 {
    margin-left: 10px;
}

.marLeft12 {
    margin-left: 12px;
}

.marLeft15 {
    margin-left: 15px;
}

.marLeft16 {
    margin-left: 16px;
}

.marLeft20 {
    margin-left: 20px;
}

.marLeft24 {
    margin-left: 24px;
}

.marLeft25 {
    margin-left: 25px;
}

.marLeft26 {
    margin-left: 26px;
}

.marLeft28 {
    margin-left: 28px;
}

.marLeft32 {
    margin-left: 32px;
}

.marLeft30 {
    margin-left: 30px;
}

.marLeft35 {
    margin-left: 35px;
}

.marLeft38 {
    margin-left: 38px;
}

.marLeft40 {
    margin-left: 40px;
}

.marLeft43 {
    margin-left: 43px;
}

.marLeft44 {
    margin-left: 44px;
}

.marLeft45 {
    margin-left: 45px;
}

.marLeft56 {
    margin-left: 56px;
}

.marLeft60 {
    margin-left: 60px;
}

.marLeft71 {
    margin-left: 71px;
}

.marLeft85 {
    margin-left: 85px;
}

.marLeft86 {
    margin-left: 86px;
}

.marLeft90 {
    margin-left: 90px;
}

.marLeft95 {
    margin-left: 95px;
}

.marLeft100 {
    margin-left: 100px;
}

.marLeft125 {
    margin-left: 125px;
}

.marLeft140 {
    margin-left: 140px;
}

.marLeft160 {
    margin-left: 160px;
}

.marLeft168 {
    margin-left: 168px;
}

.marLeft179 {
    margin-left: 179px;
}

.marLeft194 {
    margin-left: 194px;
}

.marLeft200 {
    margin-left: 200px;
}

.marLeft202 {
    margin-left: 202px;
}

.marLeft220 {
    margin-left: 220px;
}

.marLeft240 {
    margin-left: 240px;
}

.marLeft255 {
    margin-left: 255px;
}

.marLeft260 {
    margin-left: 260px;
}

.marLeft1Per {
    margin-left: 1%;
}

.marLeft2Per {
    margin-left: 2%;
}

.marLeft3Per {
    margin-left: 3%;
}

.marLeft4Per {
    margin-left: 4%;
}

.marLeft5Per {
    margin-left: 5%;
}

.marLeft6Per {
    margin-left: 6%;
}

.marLeft8Per {
    margin-left: 8%;
}

.marLeft10Per {
    margin-left: 10%;
}

.marLeft12Per {
    margin-left: 12%;
}

.marLeft18Per {
    margin-left: 18%;
}

.marLeft20Per {
    margin-left: 20%;
}

.marLeft22Per {
    margin-left: 22%;
}

.marLeft25Per {
    margin-left: 25%;
}

.marLeft26Per {
    margin-left: 26%;
}

.marLeft28Per {
    margin-left: 28%;
}

.marLeft30Per {
    margin-left: 30%;
}

.marLeft35Per {
    margin-left: 35%;
}

.marLeft36Per {
    margin-left: 36%;
}

.marLeft37Per {
    margin-left: 37%;
}

.marLeft40Per {
    margin-left: 40%;
}

.marLeft48Per {
    margin-left: 48%;
}

/*margin-left*/

/*margin-right*/

.marRight2 {
    margin-right: 2px;
}

.marRight4 {
    margin-right: 4px;
}

.marRight5 {
    margin-right: 5px;
}

.marRight6 {
    margin-right: 6px;
}

.marRight8 {
    margin-right: 8px;
}

.marRight10 {
    margin-right: 10px;
}

.marRight15 {
    margin-right: 15px;
}

.marRight18 {
    margin-right: 18px;
}

.marRight20 {
    margin-right: 20px;
}

.marRight24 {
    margin-right: 24px;
}

.marRight30 {
    margin-right: 30px;
}

.marRight35 {
    margin-right: 35px;
}

.marRight40 {
    margin-right: 40px;
}

.marRight31 {
    margin-right: 31px;
}

.marRight43 {
    margin-right: 43px;
}

.marRight44 {
    margin-right: 44px;
}

.marRight45 {
    margin-right: 45px;
}

.marRight50 {
    margin-right: 50px;
}

.marRight56 {
    margin-right: 56px;
}

.marRight90 {
    margin-right: 90px;
}

.marRight100 {
    margin-right: 100px;
}

.marRight110 {
    margin-right: 110px;
}

.marRight136 {
    margin-right: 136px;
}

.marRight150 {
    margin-right: 150px;
}

.marRight163 {
    margin-right: 163px;
}

.marRight1Per {
    margin-right: 1%;
}

.marRight2Per {
    margin-right: 2%;
}

.marRight3Per {
    margin-right: 3%;
}

.marRight4Per {
    margin-right: 4%;
}

.marRight5Per {
    margin-right: 5%;
}

.marRight6Per {
    margin-right: 5%;
}

.marRight10Per {
    margin-right: 10%;
}

.marRight12Per {
    margin-right: 12%;
}

.marRight28Per {
    margin-right: 28%;
}

.marRight30per {
    margin-right: 30%;
}

.marRight31per {
    margin-right: 31%;
}

.margin0Auto {
    margin: 0 auto;
}

/*margin-right*/

.removePad {
    padding: 0 !important;
}

/*padding-top*/
.padTop4 {
    padding-top: 4px;
}

.padTop6 {
    padding-top: 6px;
}

.padTop10 {
    padding-top: 10px;
}

.padTop15 {
    padding-top: 15px;
}

.padTop18 {
    padding-top: 18px;
}

.padTop20 {
    padding-top: 20px;
}

.padTop25 {
    padding-top: 25px;
}

.padTop30 {
    padding-top: 30px;
}

.padTop40 {
    padding-top: 40px !important;
}

.padTop45 {
    padding-top: 45px;
}

.padTop50 {
    padding-top: 50px;
}

/*padding-top*/

/*padding-bottom*/
.padBot6 {
    padding-bottom: 6px;
}

.padBot10 {
    padding-bottom: 10px;
}

.padBot12 {
    padding-bottom: 12px;
}

.padBot15 {
    padding-bottom: 15px;
}

.padBot20 {
    padding-bottom: 20px;
}

.padBot25 {
    padding-bottom: 25px;
}

.padBot30 {
    padding-bottom: 30px;
}

/*padding-bottom*/

/*padding-left*/
.padLeft2 {
    padding-left: 2px;
}

.padLeft5 {
    padding-left: 5px;
}

.padLeft10 {
    padding-left: 10px;
}

.padLeft15 {
    padding-left: 15px;
}

.padLeft20 {
    padding-left: 20px;
}

.padLeft26 {
    padding-left: 26px;
}

.padLeft30 {
    padding-left: 30px;
}

.padLeft35 {
    padding-left: 35px;
}

.padLeft36 {
    padding-left: 36px;
}

.padLeft40 {
    padding-left: 40px;
}

.padLeft45 {
    padding-left: 45px;
}

.padLeft55 {
    padding-left: 55px;
}

.padLeft60 {
    padding-left: 60px;
}

.padLeft64 {
    padding-left: 64px;
}

.padLeft90 {
    padding-left: 90px;
}

.padLeft10Per {
    padding-left: 10%;
}

.padLeft16Per {
    padding-left: 16%;
}

/*padding-left*/

/*padding-right*/
.padRight2 {
    padding-right: 2px;
}

.padRight5 {
    padding-right: 5px;
}

.padRight10 {
    padding-right: 10px;
}

.padRight15 {
    padding-right: 15px;
}

.padRight20 {
    padding-right: 20px;
}

.padRight26 {
    padding-right: 26px;
}

.padRight30 {
    padding-right: 30px;
}

.padRight35 {
    padding-right: 35px;
}

.padRight36 {
    padding-right: 36px;
}

.padRight60 {
    padding-right: 60px;
}

/*padding-right*/

.padLeftRight45 {
    padding-right: 45px;
    padding-left: 45px;
}

.padLeftRight10 {
    padding-right: 10px;
    padding-left: 10px;
}

/*P强制换行*/
p {
    word-wrap: break-word;
}

/*P强制换行*/

/*各种宽度*/
.width1 {
    width: 1px;
}

.width12 {
    width: 12px;
}

.width14 {
    width: 14px;
}

.width16 {
    width: 16px;
}

.width18 {
    width: 18px;
}

.width20 {
    width: 20px;
}

.width22 {
    width: 22px;
}

.width25 {
    width: 25px;
}

.width28 {
    width: 28px;
}

.width30 {
    width: 30px;
}

.width32 {
    width: 32px;
}

.width34 {
    width: 34px;
}

.width35 {
    width: 35px;
}

.width40 {
    width: 40px;
}

.width42 {
    width: 42px;
}

.width45 {
    width: 45px;
}

.width46 {
    width: 46px;
}

.width52 {
    width: 52px;
}

.width56 {
    width: 56px;
}

.width60 {
    width: 60px;
}

.width72 {
    width: 72px;
}

.width90 {
    width: 90px;
}

.width92 {
    width: 92px;
}

.width95 {
    width: 95px;
}

.width96 {
    width: 95px;
}

.width98 {
    width: 98px;
}

.width82 {
    width: 82px;
}

.width820 {
    width: 820px;
}

.width100 {
    width: 100px;
}

.width105 {
    width: 105px;
}

.width110 {
    width: 110px;
}

.width115 {
    width: 115px;
}

.width118 {
    width: 118px;
}

.width120 {
    width: 120px;
}

.width123 {
    width: 123px;
}

.width126 {
    width: 126px;
}

.width138 {
    width: 138px;
}

.width140 {
    width: 140px;
}

.width150 {
    width: 150px;
}

.width178 {
    width: 178px;
}

.width160 {
    width: 160px;
}

.width165 {
    width: 165px;
}

.width167 {
    width: 167px;
}

.width168 {
    width: 168px;
}

.width170 {
    width: 170px;
}

.width180 {
    width: 180px;
}

.width198 {
    width: 198px;
}

.width188-6 {
    width: 188.6px;
}

.width200 {
    width: 200px;
}

.width210 {
    width: 210px;
}

.width228 {
    width: 228px;
}

.width232 {
    width: 232px;
}

.width238 {
    width: 238px;
}

.width245 {
    width: 245px;
}

.width247 {
    width: 247px;
}

.width248 {
    width: 248px;
}

.width255 {
    width: 255px;
}

.width258 {
    width: 258px;
}

.width268 {
    width: 268px;
}

.width278 {
    width: 278px;
}

.width280 {
    width: 280px;
}

.width298 {
    width: 298px;
}

.width320 {
    width: 320px;
}

.width330 {
    width: 330px;
}

.width380 {
    width: 380px;
}

.width350 {
    width: 350px;
}

.width360 {
    width: 360px;
}

.width380 {
    width: 380px;
}

.width418 {
    width: 418px;
}

.width440 {
    width: 440px;
}

.width450 {
    width: 450px;
}

.width460 {
    width: 460px;
}

.width480 {
    width: 480px;
}

.width520 {
    width: 520px;
}

.width536 {
    width: 536px;
}

.width538 {
    width: 538px;
}

.width580 {
    width: 580px;
}

.width600 {
    width: 600px;
}

.width608 {
    width: 608px;
}

.width610 {
    width: 610px;
}

.width620 {
    width: 620px;
}

.width640 {
    width: 640px;
}

.width690 {
    width: 690px;
}

.width680 {
    width: 680px;
}

.width700 {
    width: 700px;
}

.width800 {
    width: 800px;
}

.width848 {
    width: 848px;
}

.width983 {
    width: 983px;
}

.width1128 {
    width: 1128px;
}

.width1190 {
    width: 1190px;
}

.width1198 {
    width: 1198px;
}

.width1200 {
    width: 1200px !important;
}

.minWidth1920 {
    min-width: 1920px;
}

.minWid50Per {
    min-width: 50%;
}

.minWid60Per {
    min-width: 60%;
}

.minWid70Per {
    min-width: 70%;
}

.minWid80Per {
    min-width: 80%;
}

.wid3Per {
    width: 3%;
}

.wid4Per {
    width: 4%;
}

.wid5Per {
    width: 5%;
}

.wid6Per {
    width: 6%;
}

.wid8Per {
    width: 8%;
}

.wid10Per {
    width: 10%;
}

.wid12Per {
    width: 12%;
}

.wid13Per {
    width: 13%;
}

.wid14Per {
    width: 14%;
}

.wid15Per {
    width: 15%;
}

.wid16Per {
    width: 16%;
}

.wid17Per {
    width: 17%;
}

.wid18Per {
    width: 18%;
}

.wid21Per {
    width: 21%;
}

.wid23Per {
    width: 23%;
}

.wid28Per {
    width: 28%;
}

.wid32Per {
    width: 32.6%;
}

.wid33Per {
    width: 33%;
}

.wid20Per {
    width: 20%;
}

.wid22Per {
    width: 22%;
}

.wid24Per {
    width: 24%;
}

.wid25Per {
    width: 25%;
}

.wid26Per {
    width: 25%;
}

.wid30Per {
    width: 30%;
}

.wid32Per {
    width: 32%;
}

.wid34Per {
    width: 34%;
}

.wid36Per {
    width: 36%;
}

.wid39Per {
    width: 39%;
}

.wid40Per {
    width: 40%;
}

.wid41Per {
    width: 41%;
}

.wid42Per {
    width: 42%;
}

.wid43Per {
    width: 43%;
}

.wid44Per {
    width: 44%;
}

.wid45Per {
    width: 45%;
}

.wid46Per {
    width: 46%;
}

.wid47Per {
    width: 47%;
}

.wid48Per {
    width: 48%;
}

.wid49Per {
    width: 49%;
}

.wid50Per {
    width: 50% !important;
}

.wid52Per {
    width: 52%;
}

.wid54Per {
    width: 54%;
}

.wid55Per {
    width: 55%;
}

.wid57Per {
    width: 57%;
}

.wid60Per {
    width: 60%;
}

.wid63Per {
    width: 63%;
}

.wid65Per {
    width: 65%;
}

.wid66Per {
    width: 66%;
}

.wid67Per {
    width: 67%;
}

.wid68Per {
    width: 68%;
}

.wid69Per {
    width: 69%;
}

.wid70Per {
    width: 70%;
}

.wid72Per {
    width: 72%;
}

.wid72Point5Per {
    width: 72.5%;
}

.wid74Per {
    width: 74%;
}

.wid76Per {
    width: 76%;
}

.wid77Per {
    width: 77%;
}

.wid78Per {
    width: 78%;
}

.wid78-5Per {
    width: 78.5%;
}

.wid80Per {
    width: 80%;
}

.wid82Per {
    width: 82%;
}

.wid84Per {
    width: 84%;
}

.wid86Per {
    width: 86%;
}

.wid88Per {
    width: 88%;
}

.wid90Per {
    width: 90%;
}

.wid92Per {
    width: 92%;
}

.wid925Per {
    width: 92.5%
}

.wid94Per {
    width: 94%
}

.wid955Per {
    width: 95.5%
}

.wid95Per {
    width: 95%
}

.wid96Per {
    width: 96%
}

.wid97Per {
    width: 97%
}

.wid98Per {
    width: 98%;
}

.wid99Per {
    width: 99%;
}

.wid100Per {
    width: 100%;
}

/*各种宽度*/

/*各种高度*/
.height1 {
    height: 1px;
}

.height2 {
    height: 2px;
}

.height3 {
    height: 3px;
}

.height12 {
    height: 12px;
}

.height14 {
    height: 14px;
}

.height15 {
    height: 15px;
}

.height16 {
    height: 16px;
}

.height18 {
    height: 18px;
}

.height20 {
    height: 20px;
}

.height22 {
    height: 22px;
}

.height25 {
    height: 25px;
}

.height26 {
    height: 26px;
}

.height28 {
    height: 28px;
}

.height32 {
    height: 32px;
}

.height34 {
    height: 34px;
}

.height30 {
    height: 30px;
}

.height35 {
    height: 35px;
}

.height36 {
    height: 36px;
}

.height38 {
    height: 38px;
}

.height40 {
    height: 40px;
}

.height41 {
    height: 41px;
}

.height42 {
    height: 42px;
}

.height44 {
    height: 44px;
}

.height45 {
    height: 45px;
}

.height46 {
    height: 46px;
}

.height50 {
    height: 50px;
}

.height52 {
    height: 52px;
}

.height54 {
    height: 54px;
}

.height60 {
    height: 60px;
}

.height62 {
    height: 62px;
}

.height65 {
    height: 65px;
}

.height68 {
    height: 68px;
}

.height69 {
    height: 69px;
}

.height70 {
    height: 70px;
}

.height71 {
    height: 71px;
}

.height72 {
    height: 72px;
}

.height73 {
    height: 73px;
}

.height74 {
    height: 74px;
}

.height75 {
    height: 75px;
}

.height76 {
    height: 76px;
}

.height78 {
    height: 78px;
}

.height80 {
    height: 80px;
}

.height82 {
    height: 82px;
}

.height84 {
    height: 84px;
}

.height85 {
    height: 85px;
}

.height86 {
    height: 86px;
}

.height90 {
    height: 90px;
}

.height91 {
    height: 91px;
}

.height95 {
    height: 95px;
}

.height96 {
    height: 96px;
}

.height100 {
    height: 100px;
}

.height102 {
    height: 102px;
}

.height106 {
    height: 106px;
}

.height110 {
    height: 110px;
}

.height120 {
    height: 120px;
}

.height140 {
    height: 140px;
}

.height178 {
    height: 178px;
}

.height180 {
    height: 180px;
}

.height205 {
    height: 205px;
}

.height215 {
    height: 215px;
}

.height230 {
    height: 230px;
}

.height230 {
    height: 230px;
}

.height250 {
    height: 250px;
}

.height260 {
    height: 260px;
}

.height280 {
    height: 280px;
}

.height290 {
    height: 290px;
}

.height295 {
    height: 295px;
}

.height298 {
    height: 298px;
}

.height300 {
    height: 300px;
}

.height305 {
    height: 305px;
}

.height320 {
    height: 320px;
}

.height350 {
    height: 350px;
}

.height390 {
    height: 390px;
}

.height392 {
    height: 392px;
}

.height450 {
    height: 450px;
}

.height500 {
    height: 500px;
}

.height520 {
    height: 520px;
}

.height540 {
    height: 540px;
}

.height580 {
    height: 580px;
}

.height620 {
    height: 620px;
}

.height612 {
    height: 612px;
}

.height638 {
    height: 638px;
}

.height660 {
    height: 660px;
}

.height700 {
    height: 700px;
}

.height708 {
    height: 708px;
}

.height720 {
    height: 720px;
}

.height738 {
    height: 738px;
}

.height772 {
    height: 772px;
}

.height792 {
    height: 792px;
}

.height809 {
    height: 809px;
}

.height836 {
    height: 836px;
}

.height846 {
    height: 846px;
}

.height908 {
    height: 908px;
}

.height950 {
    height: 950px;
}

.height960 {
    height: 960px;
}

.height990 {
    height: 990px;
}

.height1026 {
    height: 1026px;
}

.height1032 {
    height: 1032px;
}

.height1048 {
    height: 1048px;
}

.height1058 {
    height: 1058px;
}

.height1215 {
    height: 1215px;
}

.height1400 {
    height: 1400px;
}

.height1600 {
    height: 1600px;
}

.height1650 {
    height: 1650px;
}

.height1780 {
    height: 1780px;
}

.height1848 {
    height: 1848px;
}

.height1851 {
    height: 1851px;
}

.minHei120 {
    min-height: 120px;
}

.minHei140 {
    min-height: 140px;
}

.minHei180 {
    min-height: 180px;
}

.minHei250 {
    min-height: 250px;
}

.minHei300 {
    min-height: 300px;
}

.minHei360 {
    min-height: 360px;
}

.minHei480 {
    min-height: 480px;
}

.minHei500 {
    min-height: 500px;
}

.minHei580 {
    min-height: 580px;
}

.minHei612 {
    min-height: 612px;
}

.minHei660 {
    min-height: 660px;
}

.minHei700 {
    min-height: 700px;
}

.minHei100Per {
    min-height: 100%;
}

.height49Per {
    height: 49%;
}

.heightAuto {
    height: auto;
}

.height100Per {
    height: 100%;
}

.height200Per {
    height: 200%;
}

/*各种高度*/

/*各种行高*/
.lineHei8 {
    line-height: 8px;
}

.lineHei11 {
    line-height: 11px;
}

.lineHei12 {
    line-height: 12px;
}

.lineHei14 {
    line-height: 14px;
}

.lineHei15 {
    line-height: 15px;
}

.lineHei20 {
    line-height: 20px;
}

.lineHei22 {
    line-height: 22px;
}

.lineHei24 {
    line-height: 24px;
}

.lineHei26 {
    line-height: 26px;
}

.lineHei27 {
    line-height: 27px;
}

.lineHei28 {
    line-height: 28px;
}

.lineHei30 {
    line-height: 30px;
}

.lineHei32 {
    line-height: 32px;
}

.lineHei34 {
    line-height: 34px;
}

.lineHei35 {
    line-height: 35px;
}

.lineHei36 {
    line-height: 36px;
}

.lineHei37 {
    line-height: 37px;
}

.lineHei38 {
    line-height: 38px;
}

.lineHei40 {
    line-height: 40px;
}

.lineHei42 {
    line-height: 42px;
}

.lineHei44 {
    line-height: 44px;
}

.lineHei45 {
    line-height: 45px;
}

.lineHei46 {
    line-height: 46px;
}

.lineHei48 {
    line-height: 48px;
}

.lineHei50 {
    line-height: 50px;
}

.lineHei52 {
    line-height: 52px;
}

.lineHei55 {
    line-height: 55px;
}

.lineHei58 {
    line-height: 58px;
}

.lineHei60 {
    line-height: 60px;
}

.lineHei62 {
    line-height: 62px;
}

.lineHei65 {
    line-height: 65px;
}

.lineHei70 {
    line-height: 70px;
}

.lineHei72 {
    line-height: 72px;
}

.lineHei75 {
    line-height: 75px;
}

.lineHei80 {
    line-height: 80px;
}

.lineHei85 {
    line-height: 85px;
}

.lineHei90 {
    line-height: 90px;
}

.lineHei120 {
    line-height: 120px;
}

.lineHei280 {
    line-height: 280px;
}

/*各种行高*/

/*字体大小*/
.font12 {
    font-size: 12px;
}

.font14 {
    font-size: 14px;
}

.font16 {
    font-size: 16px;
}

.font18 {
    font-size: 18px;
}

.font20 {
    font-size: 20px;
}

.font22 {
    font-size: 22px;
}

.font28 {
    font-size: 28px;
}

.fontWeight {
    font-weight: bold;
}

/*字体大小*/

/*各种颜色字体*/
.blueFont {
    color: #20a2e6;
}

.blueFont2 {
    color: #18a2ef;
}

.blueFont3 {
    color: #37aef1;
}

.lightBlueFont {
    color: #99d9f6;
}

.lightGreyFont {
    color: #ccc;
}

.greyFont2 {
    color: #b4b4b4;
}

.greyFont {
    color: #b4b4b4;
    font-size: 12px;
}

.greyFont14 {
    color: #969696;
    font-size: 14px;
}

.darkGreyFont {
    color: #6e6e64;
}

.darkGreyFont2 {
    color: #6e6e6e;
}

.darkGreyFont3 {
    color: #d2d2d2;
}

.blackFont {
    color: #323232;
}

.darkBlackFont {
    color: #646464
}

.Fontc8c8c8 {
    color: #c8c8c8;
}

.orangeFont {
    color: #f6831d;
}

.redFont {
    color: #f34f50;
}

.whiteFont {
    color: #fff;
}

.greecolor {
    color: #65c1a3;
}

/*各种颜色字体*/
.letterSpa05px {
    letter-spacing: 0.5px;
}

.letterSpa1px {
    letter-spacing: 1px;
}

.letterSpa2px {
    letter-spacing: 2px;
}

/*--text-align--*/
.textCenter {
    text-align: center;
}

.textLeft {
    text-align: left;
}

.textRight {
    text-align: right;
}

.textJustify {
    text-align: justify;
    text-justify: distribute-all-lines; /*ie6-8*/
    text-align-last: justify; /* ie9*/
    -moz-text-align-last: justify; /*ff*/
    -webkit-text-align-last: justify; /*chrome 20+*/
}

/*--text-align--*/

/*首行文本缩进text-indent*/
.textInd2 {
    text-indent: 2px;
}

.textInd3 {
    text-indent: 3px;
}

.textInd5 {
    text-indent: 5px;
}

.textInd8 {
    text-indent: 8px;
}

.textInd10 {
    text-indent: 10px;
}

.textInd12 {
    text-indent: 12px;
}

.textInd15 {
    text-indent: 15px;
}

.textInd18 {
    text-indent: 18px;
}

.textInd20 {
    text-indent: 20px;
}

.textInd28 {
    text-indent: 28px;
}

.textInd31 {
    text-indent: 31px;
}

.textInd37 {
    text-indent: 37px;
}

.textInd46 {
    text-indent: 46px;
}

/*首行文本缩进text-indent*/

/*各种背景*/
.whiteBg {
    background: #fff;
}

.faBg {
    background: #fafafa;
}

.blackBg {
    background: #000;
}

.lightBlueBg {
    background: #c7e8f9;
}

.lightBlueBg2 {
    background: #ceedff;
}

.lightBlueBg3 {
    background: #f4fafe;
}

.lightBlueBg4 {
    background: #eef6fa;
}

.lightBlueBg5 {
    background: #d9e5f9 !important;
}

.darkBlueBg {
    background: #46A4FF;
}

.eeeBg {
    background: #eee;
}

.coralBg {
    background: lightcoral;
}

.greenBg {
    background: darkseagreen;
}

.blueBg {
    background: #21a4eb
}

.blueBg2 {
    background: #1da4e8
}

.headBlueBg {
    background: #1198e3
}

.redBg {
    background: #ff6c6e;;
}

.lightGreyBg {
    background: #f0f0f0;
}

.lightGreyBg2 {
    background: #e5e5e5;
}

.darkGreyBg {
    background: #d2d2d2;
}

.darkGreyf1 {
    background: #f1f1f1;
}

/*各种背景*/

/*各种背景*/
.lightGreenBg {
    background: #7cb98e;
}

.yellowBg {
    background: #fbab63;
}

/*各种背景*/

/*rgba*/
.whiteRgba02 {
    background-color: rgba(255, 255, 255, 0.2)
}

.whiteRgba03 {
    background-color: rgba(255, 255, 255, 0.3)
}

.whiteRgba04 {
    background-color: rgba(255, 255, 255, 0.4)
}

.whiteRgba05 {
    background-color: rgba(255, 255, 255, 0.5)
}

.whiteRgba06 {
    background-color: rgba(255, 255, 255, 0.6)
}

.whiteRgba08 {
    background-color: rgba(255, 255, 255, 0.8)
}

.whiteRgba09 {
    background-color: rgba(255, 255, 255, 0.9)
}

.blackRgba02 {
    background-color: rgba(0, 0, 0, 0.2)
}

.blackRgba03 {
    background-color: rgba(0, 0, 0, 0.3)
}

.blackRgba04 {
    background-color: rgba(0, 0, 0, 0.4)
}

.blackRgba05 {
    background-color: rgba(0, 0, 0, 0.5)
}

.ceceRgb03 {
    background-color: rgba(206, 206, 206, 0.3);
}

/*rgba*/

/*border样式*/
.borderE5 {
    border: 1px solid #e5e5e5;
}

.borderd2 {
    border: 1px solid #d2d2d2;
}

.borTopE5 {
    border-top: 1px solid #e5e5e5;
}

.borLeftE5 {
    border-left: 1px solid #e5e5e5;
}

.borRightE5 {
    border-right: 1px solid #e5e5e5;
}

.borBotE5 {
    border-bottom: 1px solid #e5e5e5;
}

.borderDce {
    border: 1px solid #dce0e0;
}

.borBotDce {
    border-bottom: 1px solid #dce0e0;
}

.borRigDce {
    border-right: 1px solid #dce0e0;
}

.blueBorder {
    border: 1px solid #20a2e6;
}

.blueBorBot {
    border-bottom: 1px solid #20a2e6;
}

.blueBorLef {
    border-left: 1px solid #20a2e6;
}

.blueBorRig {
    border-right: 1px solid #20a2e6;
}

.borRightC1 {
    border-right: 1px solid #c1c1c1;
}

.borBotC1 {
    border-bottom: 1px solid #c1c1c1;
}

.borBotWhite {
    border-bottom: 1px solid #fff;
}

.darkGreyBor {
    border: 1px solid #6e6e6e;
}

.orangeBorder {
    border: 1px solid #f6831d;
}

.greyBorder {
    border: 1px solid #6e6e64;
}

.lightGreyBor {
    border: 1px solid #a8abb0;
}

.lightGreyBor2 {
    border: 1px solid #c0c0c0;
}

.lightGreyBor3 {
    border: 1px solid #d2d2d2;
}

.lightGreyBorRig {
    border-right: 1px solid #d2d2d2;
}

.lightGreyBorBot {
    border-bottom: 1px solid #d2d2d2;
}

.greyTopDashedBor {
    border-top: 1px dashed #d2d2d2;
}

.lightGreyBorBotDashed {
    border-bottom: 1px dashed #d2d2d2;
}

.blueTop3Border {
    border-top: 3px solid #20a2e6;
}

.blueTop4Border {
    border-top: 4px solid #20a2e6;
}

.inputNoBor {
    border: 0;
}

/*border样式*/

/*border-radius样式*/
.borRadius2 {
    border-radius: 2px;
}

.borRadius4 {
    border-radius: 4px;
}

.borRadius5 {
    border-radius: 5px;
}

.borRadius6 {
    border-radius: 6px;
}

/*border-bottom-right-radius: 4em 0.5em;
border-bottom-left-radius: 1em 3em;*/
.borBotRadius {
    border-radius: 0 0 5px 5px;
}

/*border-radius样式*/

/*box-shadow : box-shadow: 1px 1px 3px 2px #cfcecf; //横向阴影1px, 纵向阴影1px, 模糊半径3px, 阴影展开半径2px, 颜色值。*/
.boxShadowGrey {
    box-shadow: 1px 1px 10px 2px #dedede;
}

.boxShadowGrey2 {
    box-shadow: 0px 0px 5px 2px #dedede;
}

/*box-shadow*/

/*鼠标画上去按钮变灰*/
.grayHover:hover {
    background-color: #dddddd;
}

/*通栏100%的wall100Per和1200宽度的wall*/
.wall100Per {
    width: 100%;
    overflow: hidden;
}

.wall {
    width: 1128px;
    padding: 0 36px;
    margin: 26px auto 0;
    overflow: hidden;
}

/*通栏100%的wall100Per和1200宽度的wall*/

/*相同的sameHeader和二级页面的subSameHeader*/
.plateHeader {
    height: 60px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
    line-height: 60px;
}

.sameHeader {
    height: 60px;
    width: 100%;
    overflow: hidden;
    background: #d8e4f9;
}

.sameHeader p {
    width: 207px;
    background: url("../img/sameHeaderBg.png") no-repeat left center;
}

.subSameHeader {
    overflow: hidden;
    border-bottom: 1px solid #d2d2d2;
}

/*相同的sameHeader和二级页面的subSameHeader*/

/*--头部 header wall--*/
.headerWall {
}

.headerTop {
    width: 100%;
    background-color: #3686dd;
}

.headerTopBox {
    width: 1198px;
    margin: 0 auto;
}

.headerLogo {
    width: 180px;
    height: 53px;
}

.slideModule {
    background: #1198e3;
}

.tipsAndLanguage a {
    padding: 0 11px;
    height: 22px;
    margin-top: 7px;
    line-height: 22px;
}

/*.tipsAndLanguage a span{ color:#000;}*/
.tipsAndLanguage .informationTips {
    position: relative;
    text-align: left;
    padding-right: 20px;
}

.tipsAndLanguage .helpCenter {
    border-right: 1px solid #d0e2f6;
    padding-right: 25px;
}

.tipsNum {
    position: absolute;
    top: -7px;
    left: 35px;
    width: 23px;
    height: 14px;
    color: #fff;
    font: 10px "Microsoft YaHei";
    line-height: 13px;
    background-color: #fe4b4e;
    border-radius: 5px;
    text-align: center;
    overflow: hidden
}

.tipsAndLanguage .changeLanguage {
    padding-left: 15px;
}

.tipsAndLanguage .safetyExit {
    padding-right: 0;
}

/*页脚footerWall*/
.footerWall {
    width: 100%;
}

/*页脚footerWall*/

/*全屏遮罩层弹出框 mask popup*/
.maskPopup {
    background: #000000;
    filter: alpha(opacity:60);
    opacity: 0.6; /*display:none;*/
    position: absolute;
    z-index: 1;
}

/*全屏遮罩层弹出框 mask popup*/

/*弹出窗口的close按钮*/
.closeButton {
    background: url("../img/icon/closeIcon.png") no-repeat center center;
}

/*弹出窗口的close按钮*/

/*"下一步"公共样式*/
.defaultNextStep {
    color: #fff;
    background: #89cef7;
}

.selectedNextStep {
    color: #fff;
    background: #1198e3;
}

/*"下一步"公共样式*/

.lanse:hover {
    color: #20a2e6;
}

.baise:hover {
    color: #fff;
    background: #62bfee;
}

/*二级页面的主体的头部和前面的图标*/
.borderTop4px {
    border-top: 4px solid #20a2e6;
}

.bott0 {
    bottom: 15px;
    left: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.left0 {
    left: 0;
}

.top0 {
    top: 0;
}

.duiqi {
    display: inline-block /* Opera */;
    padding-left: 100%;
    vertical-align: top;
}

.iconDaijinjuan {
    background: url('../img/icon/iconsDjj.png') no-repeat 2px 2px;
}

.iconjihui {
    background: url('../img/icon/jiehui.png') no-repeat 5px 3px
}

/*二级页面的主体的头部和前面的图标*/

/*所在省市js需要的样式*/
/*所在地区：省/市 需要用到的class样式*/
.defaultTabLi {
    color: #323232;
}

.selectedTabLi {
    background: #fff;
    border-bottom: 1px solid #fff;
    color: #20a2e6;
}

.proCityDefStyle {
    color: #323232;
}

.proCitySelStyle {
    background: #21a4eb;
    border-radius: 2px;
    color: #fff;
}

.proCityMouEntSty {
    border-radius: 2px;
    background: #f1f8ff;
    color: #46A4FF;
}

/*所在地区：省/市 需要用到的class样式*/
/*所在省市js需要的样式*/

.bgd2d2d2 {
    background: #d2d2d2;
}

