main {
	font-size: 1rem;
}
article {
	background: white;

	width: 100%;
	width: 100vw;
	max-width: 46.05555555555556em; /* 829px / 18px = 46.05555555555556 */

	margin: 0 auto;
	
	position: relative;
	top: -100px;

	font-size: 1em; /* 16px / 16px = 1  */
	line-height: 1.444444444444444em; /* 26px / 18px = 1.444444444444444  */

	box-sizing: border-box;
	padding: 1.25em; /* 20px / 16px = 1.25 */
}

p {
	margin-bottom: 1.625em; /* 26px / 16px = 1.625 */
}

@media all and (min-width: 600px) {
	article {
		padding: 2.5em; /* 40px / 16px = 2.5 */
		font-size: 1.125rem; /* 18px / 16px = 1.125  */
		line-height: 1.611111111111111em; /* 29px / 18px = 1.611111111111111  */
	}

	p {
		margin-bottom: 1.75em; /* 28px / 16px = 1.75 */
	}
}

@media all and (min-width: 600px) and (max-width: 829px) {
	article {
		width: 90%;
		width: 90vw;
	}
}

@media all and (min-width: 829px)  {
	article {
		width: 80%;
		width: 80vw;		
	}
}