* {
	margin: 0;
	padding: 0;
}

html, body {
	background: #DCDCDD;
	font-size: 100%;
	font-family: "思源黑体", "微软雅黑", Helvetica, Arial, 'Hiragino Sans GB', sans-serif;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

